name: Comment
    on:
      issues:
        types: [opened]
    jobs:
      commentOnNewIssues:
        name: Comment On New Issues
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v2
          - name: Comment On New Issues
            uses: actions/github@v1.0.0
            env:
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            with:
              args: comment "Thank you very much for raising the issue. We will shortly have a look at it."